*{
    background:black;
    color: #FFC700;
  }
  
  div{
    margin-top:50px;
    width: 50%;
    margin-left:25%;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  img{
    width:100%;
    border: 5px solid #FFC700;
  }
  h1{
    text-align:center;
  }
  p{
    text-align:center;
  }